@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin verse */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* End verse */

/* Begin Letter */
footer{
	margin-top: 1em;
	text-align: right;
}

#dedication > p:first-of-type + p{
	text-indent: 0;
}

#dedication > p:first-of-type,
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End Letter */
